{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <section>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="cntainer-fluid py-5">
                <h2 class="display-5 fw-bold">{{job.title}}</h2>
                <p class="col-md-8 fs-5 mt-3">
                    {{job.city}}, {{job.state}}  | {{job.salary|intcomma}}TND
                </p>
                {% if request.user.is_authenticated and request.user.has_resume %}
                    {% if not has_applied  %}
                    <a href="{% url 'apply-to-job' job.pk %}"  class="btn btn-primary btn-lg">Apply NOW</a>                
                    {% else %}
                    <p>
                        <span class="text-info">You have already applied</span>
                    </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
    <div>
        <section>
            <h5>Job Requirements</h5>
            <p>
                {{job.requirements}}
            </p>
        </section>
    </div>
    <div >
        <section>
            <h5>Ideal Candidates</h5>
            <p>
                {{job.ideal_candidate}}
            </p>
        </section>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Other details</h5>
                    <p class="card-text">sahsahshahsahshahs</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">last updated</small>
                </div>
            </div>
        </div> -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">About the Company</h5>
                    <p class="card-text">Name: {{job.company.name}}</p>
                    <p class="card-text">City: {{job.company.city}}, {{job.company.state}}</p>
                    <p class="card-text">Established date: {{job.company.est_date}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">last updated</small>
                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Other details</h5>
                    <p class="card-text">sahsahshahsahshahs</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">last updated</small>
                </div>
            </div>
        </div> -->
    </div>
{% endblock content %}