<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliHire</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">IntelliHire</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    {% if request.user.is_applicant %}
                            {% if request.user.has_resume %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'job-listing' %}">Apply to jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'applied-jobs' %}">Manage Applied jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'update-resume' %}">Update resume</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'update-resume' %}">Create a resume</a>
                                </li>
                            {% endif %}
                            
                        
                    {% elif request.user.is_recruiter %}
                            {% if request.user.has_company %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create-job' %}">Create a job ads</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'manage-jobs' %}">Manage jobs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'update-company' %}">Update company</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'update-company' %}">Create a company</a>
                                </li>
                            {% endif %}
                            
                        
                    {% endif %}
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-primary" >Logout</a>
                
                {% else %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'job-listing' %}">All jobs</a>
                        </li>
                    </ul>
                <a href="{% url 'login' %}" class="btn btn-primary mr-2 btn-sm" >Login</a>
                
                {% endif %}
                
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                            <b>
                                {{message}}
                            </b>
                        </div>
                    {% endfor %}
        {% endif %}
        <div class="container d-flex flex-column min-vh-100 ">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>
</body>
<br>
<br>
<footer class="bg-light text-center text-lg-start mt-auto ">
    
    <div class="footer-copyright text-center py-3">
        © 
        <script>document.write( new Date().getFullYear() );</script>
        Developed by :
        <p>-<a class="link-opacity-50-hover" href="https://www.linkedin.com/in/chedly-chahed/" target="_blank" >Chedly CHAHED</a>
            <br>
            -<a class="link-opacity-50-hover" href="https://www.linkedin.com/in/chedly-chahed/" target="_blank">Rania Hammami</a></p>
    </div>
    
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>